
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');



* {
    border: 2px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Creepster', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #1F2937;    
    display: flex;
    flex-direction: column;

}

img {
    max-width: 100%;
}

h1,
h2{
    margin-bottom: 15px;

}



.header,
.navbar,
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.header {
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    line-height: 1.2;

}

.container {
    max-width: 1100px;
 font-size: 24px;
 font-weight: 700;
 display: flex;
 justify-content: space-between;
}

.navbar {
    height: 60px;


}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}


p {
    font-size: 18px;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.boxes {
    background-color: #fff;
    color:#1F2937;
}

button {
    background-color: #3882F6;
    color: #fff;
    border-radius: 25px;
    margin: 0px 100px;

}


.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    font-weight: 100;

}

.navbar ul li {
    margin-left: 20px;

}

a {
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: lightblue;
}

.footer {
     display: flex;
     justify-content: center;

}