* {
    border: 2px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {

    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

}

.flex-container {
    display: flex;
    justify-content: ;
    background: #1F2937;
    color: #fff;
    justify-content: space-between;

}

.container,
.footer{
    background-color: #1F2937;
    color: #fff;
}

.container {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 font-size: 24px;
 font-weight: 700;
}

.header{
    display: flex;
    background-color: #1F2937;
    color: #fff;
    padding: 100px 50px;
    font-size: 48px;
    justify-content: center;
    gap: 30px;

}



p {
    font-size: 18px;
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


button {
    background-color: #3882F6;
    color: #fff;
    border-radius: 25px;
    margin: 0px 100px;

}


.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    font-weight: 100;

}

a {
    text-decoration: none;
}



.footer {
     display: flex;
     justify-content: center;

}